h1 {
    font-size: 80px;
    margin-left: 180px;
    margin-top: 200px;
    margin-bottom: 20px;
}

h1 span:nth-child(1) {
    color: blue;
}

h1 span:nth-child(2) {
    color: red;
}

h1 span:nth-child(3) {
    color: yellow;
}

h1 span:nth-child(4) {
    color: blue;
}

h1 span:nth-child(5) {
    color: green;
}

h1 span:nth-child(6) {
    color: red;
}

input {
    margin-left: 135px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 320px;
}

.bottom {
    margin-top: 15px;
}

.bottom button {
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.bottom button:nth-child(1) {
    margin-left: 220px;
}